.liveTab,
.liveBox {
	float: left;
}

.liveTab h1 {
	text-align: left;
	font-size: 16px;
	color: #373B3F;
	letter-spacing: 0;
	line-height: 16px;
	margin-bottom: 14px;
}

.liveTab li {
	cursor: pointer;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 20px;
	text-align: left;
	font-size: 14px;
	color: #656565;
	width: 200px;
	height: 48px;
	letter-spacing: 0;
	line-height: 14px;
	line-height: 48px;
	border-bottom: 1px solid #E5E5E5;
}

.liveRight {
	float: left;
	margin-left: 40px;
	display: none;
	width: 80%;
}

.liveNext {
	float: left;
	margin-left: 40px;
	display: none;
}

.liveRight h1,
.liveNext h1 {
	text-align: left;
	font-size: 18px;
	color: #373B3F;
	line-height: 20px;
}

.liveRightUl {
	float: left;
}

.liveRightUl li {
	cursor: pointer;
	width: 290px;
	float: left;
	margin-right: 14px;
	margin-top: 30px;
}

.liveRightUl li:hover,
.swiper-wrapper div:hover {
	-webkit-box-shadow: 0px 2px 10px #666;
	-moz-box-shadow: 0px 2px 10px #666;
	box-shadow: 0px 2px 10px #666;
}

.addHover {
	-webkit-box-shadow: 0px 2px 10px #666;
	-moz-box-shadow: 0px 2px 10px #666;
	box-shadow: 0px 2px 10px #666;
}

.liveRightUl img {
	display: inline-block;
	width: 290px;
	height: 162px;
}

.liveRightUl span {
	display: inline-block;
	height: 36px;
	font-size: 16px;
	color: #373B3F;
	letter-spacing: 0;
	line-height: 36px;
}

.dskVideo {
	width: 928px;
	height: 522px;
	margin: 30px 0 20px 0;
}

.dskVideo span {
	line-height: 522px;
	text-align: center;
	font-size: 20px;
	color: #5F666E;
	display: none;
}

.dskVideoBorder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
}

.dskVideoBorder span {
	display: block;
}

.videoTitle {
	width: 902px;
	font-size: 16px;
	color: #5F666E;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: none !important;
}

.liveTabAdd {
	color: #FF893A !important;
}

.liveSwiper {
	display: none;
	height: 210px;
	width: 928px;
	margin-top: 40px;
}

.swiper-container {
	float: left;
	width: 100%;
	height: 210px;
	overflow: hidden;
}
.find_nav li:nth-child(2) span{color: #fff !important;}
.find_nav li:nth-child(2){	border-color: #FF893A;}
.swiper-slide {
	height: 198px !important;
}

.swiper-wrapper div {
	width: 290px !important;
}

.swiper-slide img {
	display: inline-block;
	height: 162px;
	width: 100%;
}

.swiper-slide span {
	display: inline-block;
	height: 36px;
	width: 100%;
	line-height: 32px;
	text-align: center;
	font-size: 16px;
	color: #373B3F;
}

.swiper-button-next,
.swiper-button-prev {
	width: 14px !important;
	height: 46px !important;
	background-size: 100% 100%;
	margin-top: -42px !important;
}

#id_test_video {
	/*display: none !important;*/
}