<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌、疫苗、上市、防癌疫苗、hpv、HPV疫苗、二价疫苗、宫颈癌预防、预防、疫苗上市、宫颈癌预防行动、新闻1+1、打疫苗、接种疫苗、谈癌色变、肿瘤、癌症、公益" />
		<meta name="description" content="“宫颈癌预防行动”旨在科学普及宫颈癌防控基本知识， 增强公众对宫颈癌的防控意识，促进宫颈癌发病率和死亡率的降低，提高女性健康水平。">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../static/css/common/animate-2f05da645a.css">
		<link rel="stylesheet" href="../static/css/libs/swiper-3-6af34d0737.4.2.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/arvay/dskLive-5929a1758d.css" />
	</head>

	<body>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<div class="indexLive">
					<div class="liveBox">
						<div class="liveTab">
							<h1>活动咨询</h1>
							<ul>
								<li>公益视频</li>
								<!--<li>公益直播</li>-->
							</ul>
						</div>
						<div class="liveRight">
							<h1>活动视频</h1>
							<ul class="liveRightUl">
								<li>
									<img src="../static/images/film_img_1.png" />
									<span>15秒疾病教育篇</span>
								</li>
								<li>
									<img src="../static/images/film_img_2.png" />
									<span>15秒悬疑篇</span>
								</li>
								<li>
									<img src="../static/images/film_img_3.png" />
									<span>15秒情感篇</span>
								</li>
								<li>
									<img src="../static/images/film_img_4.png" />
									<span>MV</span>
								</li>
							</ul>
						</div>
						<div class="liveNext">
							<h1>公益视频</h1>
							<div class="dskVideo">
								<span>尚未发布，敬请期待</span>
								<div id="id_test_video" style="width:100%; height:auto;"></div>
							</div>
							<div class="videoTitle">那些时代，早已远去。未来，却变幻莫测、充满未知。这就是我必须接受的命运吗？趁年轻 预防宫颈癌 即刻行动 保护她</div>
							<div class="liveSwiper">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="../static/images/Page 1.png" />
											<span>15秒疾病教育篇</span>
										</div>
										<div class="swiper-slide">
											<img src="../static/images/film_img_1.png" />
											<span>15秒悬疑篇</span>
										</div>
										<div class="swiper-slide">
											<img src="../static/images/film_img_2.png" />
											<span>15秒情感篇</span>
										</div>
										<div class="swiper-slide">
											<img src="../static/images/film_img_3.png" />
											<span>MV</span>
										</div>
									</div>
									<!-- 如果需要导航按钮 -->
									<div class="swiper-button-prev  swiper-button-white"></div>
									<div class="swiper-button-next  swiper-button-white"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</body>
	<script src="../static/js/common/jquery-1-e4ff02d3ba.9.1.js" charset="utf-8"></script>
	<script src="../static/js/arvay/index-3d32611247.js" charset="utf-8"></script>
	<script src="../static/js/libs/swiper-3-d7749c8a97.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="//imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer-2.2.0.js" charset="utf-8"></script>
	<script src="../static/js/arvay/dskLive-521a9e8031.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(".header").load('header.html');
	</script>
</html>