<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>评论</title>
    <script src="../js/rem.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../css/comment.css"/>
</head>
<body>
	<div class="mui-content">
		<h1>【考研冲刺班】词汇精讲</h1>
		<textarea name="" rows="" cols=""></textarea>
		<div class="btn">提交</div>
	</div>
</body>
</html>