<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/creditsExchange.css"/>
	</head>
	<body>
		<div class="content">
			<div class="header">
				<div class="topCredits">
					<p>您目前可用积分</p>
					<span>60分</span>
				</div>
				<div class="search">
					<input type="text" placeholder="请输入您的手机号"/>
					<img src="images/delete.png"/>
				</div>
				<ul class="creditsList">
					<li><img src="images/fifty.png"/></li>
					<li><img src="images/ten.png"/></li>
					<li><img src="images/twenty.png"/></li>
					<li><img src="images/fifty.png"/></li>
				</ul>
			</div>
			<div class="footer">
				<p class="coupon">您兑换的优惠券</p>
				<ul class="couponList">
					<li>兑换面值</li>
					<li>兑换时间</li>
					<li>50元优惠券</li>
					<li>2017年6月21日</li>
					<li>20元优惠券</li>
					<li>2017年6月16日</li>
					<li>10元优惠券</li>
					<li>2017年5月16日</li>
				</ul>
			</div>
		</div>
	</body>
</html>
