<!--
 * @Author: Arvay
 * @Date:   2017年8月16日14:46:45
 * @Last modified by:   Arvay
 * @Last modified time: 2017年8月16日14:46:47
 *-->
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/particulars.css"/>
	<script src="../js/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="mui-content">
	    <div class="main">
	    	<div class="rightBtn">
	    		<img src="../images/bofang.png"/>
	    		<img src="../images/pinglun.png"/>
	    		<img src="../images/daka.png"/>
	    	</div>
			<div class="header">
				<div class="head"></div>
				<h1 class="title">我我我我我我我我</h1>
				<div class="number">
					<img src="../images/shouting_1.png"/>
					<span>收听1000次</span>
				</div>	
				<span class="time">更新时间 7/28</span>
				<h2 class="check">
					查看往期
					<img src="../images/nextRight.png"/>
				</h2>
				<div class="subscription">
					<span>订阅</span>
				</div>
			</div>
			<div class="part_1">
				<p class="partTitle">Part.1</p>
				<ul class="list">
					<li>
						<img src="../../../IntegralActivities/dist/images/arvay.jpg"/>
						<div class="voice"></div>
						<span>12''</span>
					</li>
					<li>
						<img src="../../../IntegralActivities/dist/images/arvay.jpg"/>
						<div class="voice"></div>
						<span>12''</span>
					</li>
					<li>
						<img src="../../../IntegralActivities/dist/images/arvay.jpg"/>
						<div class="voice"></div>
						<span>12''</span>
					</li>
				</ul>
				<div class="part_1Tp">
					
				</div>
				<div class="part_1Text">
					<p>Git's garbage collection is (by default) configured to run in background (gc.autoDetach) in your .</p>
					<p class="chinese">学校操场北边墙上满是爬山虎。我家也有爬山虎，从小院的西墙爬上去，在房顶上占了一大片地方。
　　爬山虎刚长出来的叶子是嫩红的，不几天叶子长大，就变成嫩绿的。</p>
				</div>
			</div>
			<div class="part_1">
				<p class="partTitle">Part.2</p>
				<ul class="list">
					<li>
						<img src="../../../IntegralActivities/dist/images/arvay.jpg"/>
						<div class="voice"></div>
						<span>12''</span>
					</li>
					<li>
						<img src="../../../IntegralActivities/dist/images/arvay.jpg"/>
						<div class="voice"></div>
						<span>12''</span>
					</li>
					<li>
						<img src="../../../IntegralActivities/dist/images/arvay.jpg"/>
						<div class="voice"></div>
						<span>12''</span>
					</li>
				</ul>
				<div class="part_1Tp">
					
				</div>
				<div class="part_1Text">
					<p>Git's garbage collection is (by default) configured to run in background (gc.autoDetach) in your .</p>
					<p class="chinese">学校操场北边墙上满是爬山虎。我家也有爬山虎，从小院的西墙爬上去，在房顶上占了一大片地方。
　　爬山虎刚长出来的叶子是嫩红的，不几天叶子长大，就变成嫩绿的。</p>
				</div>
			</div>
			<!--留言板-->
			<div class="messageBoard">
				<h1 class="mbTitle">留言</h1>
				<ul class="commentList">
					<li>
						<div class="mes">
							<img src="../../../IntegralActivities/dist/images/arvay.jpg"/>
							<span>谁的留言</span>
						</div>
						<p>
							嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨111
						</p>
						<span class="mesTime">昨天</span>
					</li>
					<li>
						<div class="mes">
							<img src="../../../IntegralActivities/dist/images/arvay.jpg"/>
							<span>谁的留言</span>
						</div>
						<p>
							嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨111
						</p>
						<span class="mesTime">昨天</span>
					</li>
				</ul>
			</div>
	    </div>
	</div>
</body>
</html>