<!--
 * @Author: Arvay
 * @Date:   2017年8月16日14:46:45
 * @Last modified by:   Arvay
 * @Last modified time: 2017年8月16日14:46:47
 *-->
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/particulars.css"/>
	<script src="../js/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="mui-content">
	    <div class="main">
			<div class="header">
				<!--<img class="head" src=""/>-->
				<div class="head">
					
				</div>
				<h1 class="title">我我我我我我我我</h1>
				<div class="number">
					<img src="../images/shouting_1.png"/>
					<span>收听1000次</span>
				</div>	
				<span class="time">更新时间 7/28</span>
				<h2 class="check">
					查看往期
					<img src="../images/nextRight.png"/>
				</h2>
				<div class="subscription">
					<!--<img src="../images/dingyue.png"/>-->
					<span>订阅</span>
				</div>
			</div>
	    </div>
	</div>
</body>
</html>