<!--
 * @Author: Arvay
 * @Date:   2017年8月16日14:46:45
 * @Last modified by:   Arvay
 * @Last modified time: 2017年8月16日14:46:47
 *-->
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>课程详情</title>
	<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/particulars.css"/>
	<script src="../js/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	
</body>
</html>