<link rel="stylesheet" type="text/css" href="css/header.css" />
<link rel="stylesheet" type="text/css" href="css/common/hover.css" />
<div class="headerBox">
	<div class="k12Logo"></div>
	<ul class="k12Nav">
		<li>
			<a class="hvr-wobble-skew">课程</a>
		</li>
		<li>
			<a class="hvr-wobble-skew">小宝优势</a>
		</li>
		<li>
			<a class="hvr-wobble-skew">课程体系</a>
		</li>
		<li>
			<a class="hvr-wobble-skew">学员口碑</a>
		</li>
	</ul>
	<div class="loginBox hoverO">
		<span class="login" data-toggle="modal" data-target="#myModal">登录</span>
		<span>/</span>
		<span class="enrol" data-toggle="modal" data-target="#myModal">注册</span>
	</div>
</div>
<!-- 登陆模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modalEnrol">
				<div class="lodingTitle"><img src="images/logo-@1x.png" /></div>
				<div class="form-group">
					<input type="text" class="form-control hoverBottomBorder" id="enrolName" placeholder="请输入手机号">
				</div>
				<div class="form-group">
					<input type="text" class="form-control hoverBottomBorder" id="enrolPassword" placeholder="请输入密码">
				</div>
				<div class="form-group">
					<input type="text" class="form-control hoverBottomBorder" id="enrolCode" placeholder="请输入验证码">
				</div>
				<div class="enrolBtn btnOpacity">注册</div>
				<div class="enrolBtnFooter">已有账户 <span class="hoverO">登录</span></div>
			</div>
			<div class="modalLogin">
				<div class="lodingTitle"><img src="images/logo-@1x.png" /></div>
				<div class="form-group">
					<input type="text" class="form-control hoverBottomBorder" id="loginName" placeholder="请输入手机号">
				</div>
				<div class="form-group passworldLogin">
					<input type="text" class="form-control hoverBottomBorder" id="loginPassword" placeholder="请输入密码">
				</div>
				<div class="form-group loginCodeR">
					<input type="text" class="form-control hoverBottomBorder" id="loginCode" placeholder="请输入验证码">
					<span class="getCode hoverO">获取验证码</span>
				</div>
				<div class="form-group mindPassword">
					<!--<div class="checkbox2"><i></i></div>-->
					<div class="form-group automatic ">
						<input type="checkbox" class="checkbox2" name="" id="" value="" />
						<span>自动登陆</span>
					</div>
					<div class="loginBtn hoverO">登录</div>
					<div class="codeLogin">使用 <span class="hoverO goCodeLogin">验证码登录</span></div>
					<div class="goEmrol">还没有账户？<span class="hoverO">立即注册</span></div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
</div>
<script src="js/common/global.js" type="text/javascript" charset="utf-8"></script>
<script src="js/header.js" type="text/javascript" charset="utf-8"></script>